.TodoTemplate {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 30px;
  border-radius: 10px;
  overflow: hidden;
  .apptitle {
    background: #efc03c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.5rem;
    color: balck;
  }
  .content {
    background: #2f71ae;
    color: white;
  }
}
